{
    "app": {
        "port": "8080",
        "accounts": [
            { "username": "alice", "password": "password1" },
            { "username": "bob", "password": "password2" }
        ],
        "uploadMode": "file"
    },
    "minio": {
        "endpoint": "web.server.com",
        "ssl": true,
        "bucketName": "webdav",
        "accessKey": "accessKey",
        "secretAccessKey": "secretAccessKey"
    }
}
